header {
  font-family: 'Noto Serif JP', serif;
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  align-items: center;
  position: fixed;
  justify-content: center;
  border-bottom: 3px solid #000;
  height: 80px;
  z-index: 1000;
}

header h4 {
  font-family: 'Noto Serif JP', serif;
  font-weight: bolder;
  font-size: 35px;
  font-weight: 200;
  margin-top: 0px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

header img {
  width: 40px;
  height: 40px;
}

.relleno {
  height: 80px;
  background-color: white;
}

.Contenedormayor {
  width: 100%;
  min-width: 100vw;
  max-width: 100vw;
}

title {
  font-family: 'Noto Serif JP', serif;
  font-size: 55px;
}

html, body {
  overflow-x: hidden;
}

.contenedor {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  min-height: 100px;
  width: 70%;
  font-weight: bolder;
  color: black;
}

.contenedor h4 {
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 22px;
}

.cartel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3.5rem;
  background-color: #cca191;
  width: 100%;
}

.cartel p {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  width: 90%;
}

.logo1 {
  width: 70px;
  height: 70px;
}

.seccion1 {
  background-image: url("/imgopt/6.JPG"), url("/imgopt/7.JPG");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-size: contain;
  font-family: 'Noto Serif JP', serif
}

.productos {
  line-height: 30px;
  font-size: 18px;
}

.servicios {
  line-height: 30px;
  font-size: 18px
}

.redes {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  min-height: 100px;
  width: 70%;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.redes1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mapa {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/imgopt/7.JPG");
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
  width: 100vw;
}

.mapa iframe {
  margin-top: 2rem;
  border-radius: 5px;
  width: 90%;
}

.mapap {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  height: 3rem;
  width: 50%;
  font-weight: bolder;
  color: black;
}

.mapap p {
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
  margin-top: 0px;
}

@media (max-width: 600px) {
  .seccion1 {
    background-image: url("/imgopt/2557DCF1-8CAE-440E-9429-98F5A562D575.jpg");
    background-size: cover;
  }

  .cartel {
    height: 4rem;
  }

  header h4 {
    font-size: 30px;
  }
}

.redes1 a:hover{
  opacity: 0.4;
}

.carrusel_de_imagenes{
  max-height: 500px;
}

.carousel-inner{
  margin-top: 3rem;
  max-height: 500px;
  max-width: 70%;
  margin: auto;
  border-radius: 5px;
  border:#000 2px solid;
  background-size: contain;
  overflow-y: hidden;
}


.carousel-control-prev-icon {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px 0 0 10px;
  padding: .5rem;
}

.carousel-control-next-icon {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 10px 10px 0;
  padding: .5rem;
  
}


.carousel-item{
  max-height:100% ;
}

#item-activo{
  max-height: 500px;
}

.carousel-item img{
  max-height:170px ;
}

@media (min-width: 900px) {
  .carousel-item img{
    max-height:300px ;
  }
}

